@media screen and (max-width:768px){
    .introinf>h2{
        text-align: center;
    }
    .author>p{
        text-align:center;
    }
    .slider>h3{
        text-align:center;
    }
    #FirstPage .content{
        transform: translateY(-20%);
    }
    .imagesone>h3{
       margin-right:5%;
       font-size:18px;
    }
    .slider>p{
        width:100%;
    }
    /* .allimages .first{
        padding:0%;
        margin:0%;
    }
    .allimages .second{
        padding:0%;
        margin:0%;
    }
    .allimages .third{
        padding:0%;
        margin:0%;
    }
    .allimages .fourth{
        padding:0%;
        margin:0%;
    } */
}
      